<h1>want to signup? join a community of creators!</h1>
<form action="/signup" method= "post">
<label="username">Username</label>
<input type= "text" name= "username"/>

<label="email">Email</label>
<input type= "text" name= "email"/>

<label="password">Password</label>
<input type= "password" name= "password"/>

<input type= "submit" value= "Submit"/>

</form>
