<h1>welcome to between my lines: the exhibition</h1>
<br></<br>
<h2>are you a creator?</h2>
<a href="/login" > Login </a>
<br></<br>
<a href="/signup" > Sign Up </a>
<br></<br>
<br></<br>
<h2>
  <a href="stories">
    visit our stories: ask a question
  </a>
</h2>
<IMG SRC="story1.jpg" ALT="Story 1">
  <IMG SRC="story2.jpg" ALT="Story 2">
    <IMG SRC="story3.jpg" ALT="Story 3">
      <IMG SRC="story4.jpg" ALT="Story 4">
        <IMG SRC="story5.jpg" ALT="Story 5">
          <IMG SRC="story6.jpg" ALT="Story 6">
